*{
    font-family: 'Roboto', sans-serif;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
h1{
    color:#DE6262;
    text-align: center;
    margin: 100px 628px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}
form{
    display: flex;
    flex-direction: column;
}

form,label{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 10px 0;
}

input[type=submit]{
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    font-weight: bolder;
    color:black;
    background-color: #DE6262
}
input[type=submit]:hover{
    color:#FFB88C;
    
}
input[type=text]{
    width: 330px;
    height: 30px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    outline-width: 0;
    color:#DE6262;
    background-color: antiquewhite;
}
input[type=text]:focus{
    outline: none;
    border: 3px solid #FFB88C;
}

label{
    font-size: 32px;
    color: #DE6262;
    font-family: 'Century g';
}

input{
    background-color:#f1f1f1 ;
    color: black;
    border: 1em;
    padding: 4px;
}

body{
    background: #222629;  /* fallback for old browsers */
    background-image: linear-gradient(to-right, #222629, #474b4f,#6B6E70)
  
}   

