<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wikipedia Webscraper</title>
    <link rel="stylesheet" href="static\index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body id="home">
    <h1>Wikipedia Scraper</h1>
    <div class="container">
        <form action="{{url_for("handle_data")}}" method="POST">
            <label for="fname">Enter the url here :</label>
            <input type="text" name="url" id="url" pattern="https://[a-z]{2}.wikipedia.org/wiki/(.*)"required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>

<!--pattern="\/wiki\/([\w%]+)"-->
